# Copy this file to .env and add your actual API keys
# API Keys for TravelWise App
# Get your OpenWeatherMap API key from: https://openweathermap.org/api
VITE_OPENWEATHER_KEY=fc7828bda5c3d7ad9b9e218df7bffd32

# Get your Unsplash API key from: https://unsplash.com/developers
VITE_UNSPLASH_KEY=qejPrqY63lBT5SM3wMTtdQTtHLClCr52aRX2lYVKr3E
